.footer {
    color: white;
    background-color: rgb(65, 65, 66);
    position: fixed;
    margin-top: 2%;
    height: 50px;
    width: 100%;
    text-align: center;
    font-size: 0.8em;
    bottom: 0;
    display: flex;
    font-size: 20px;
    justify-content: space-around;
    align-items: center;
}

.link {
    color: aliceblue;
    text-decoration-color: aliceblue;
}